html{
  height: 100%;
}
body{
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  background-color: #B4B4BA;
}
.wrapper{
  margin: 0 auto;
  width: 80%;
  background-color: #363530;
}
.nav{
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: #ffffff;
  align-items: center;


}
.leftnav{
  display: flex;

}
.rightnav {
  display: flex;
}
.signin{
  margin: 10px;
  padding: 10px;
}
.signup{
  margin: 10px;
  padding: 10px;
}
.navname{
  padding-left: 15px;
  border-left-style: groove;

}
.create{
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: #DDDEE3;

}
.createcenter{
  display: flex;
  justify-content: space-between;
  width:80%;

}
.sort{
  background-color: #ffffff;
  padding: 0 10px 0 10px;
  margin: 10px;
  color: #F9AB99;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  -webkit-box-shadow: 0px 0px 84px -23px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 84px -23px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 84px -23px rgba(0,0,0,0.75);

}
.createnew{
  background-color: #ffffff;
  margin: 10px;
  color: #F9AB99;
  padding: 0 5px 0 5px;
  -webkit-box-shadow: 0px 0px 84px -23px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 84px -23px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 84px -23px rgba(0,0,0,0.75);
}
.mainback{
  background-color: #ffffff;
  width: 100%;
  display: flex;
  justify-content: center;

}
.centerback{
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
  width: 80%;
}

.firstrow {
  display: flex;
}


.widgets{
  width: 33%;
  height: 500px;
  overflow: hidden;
  background-color: #ffffff;
  margin: 10px;
  -webkit-box-shadow: 0px 0px 84px -23px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 84px -23px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 84px -23px rgba(0,0,0,0.75);
}
.westonwidget{
  width: 33%;
  background-color: #ffffff;
  margin: 10px;
  height: 400px;
  -webkit-box-shadow: 0px 0px 84px -23px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 84px -23px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 84px -23px rgba(0,0,0,0.75);
}
.button {
  display: block;
  background-color: #ffffff;
  text-decoration: none;
  text-align: center;
  width: 100px;
  height: auto;
  color: #F9AB99;
  font-size: large;

}









.weather-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-family: "Noto Sans", sans-serif;
  color: #FFFFFF;
  width: 100%;
  height: 100%;
  background: linear-gradient(135deg, #1e5799 0%, #207cca 0%, #2989d8 26%, #2989d8 26%, #7db9e8 83%);
  padding: 30px 0 30px 0; }
.weather-card .city {
  font-size: 20px; }
.weather-card .time {
  font-size: 25px; }
.weather-card .temp {
  font-size: 50px;
  margin: 30px 0 0 0; }
.weather-card .desc {
  width: 100%; }
.weather-card .desc img {
  width: 80px; }
.weather-card .desc p {
  margin: 0; }













$primary-red: #CF4232 ;
$secondary-blue: #068675 ;
$yellow: #FAC023 ;
$base-font-size: 12px;
$header-font-size: 25px;
$base-padding: 15px;
$font-family: 'Open Sans', sans-serif;

a{
  text-decoration: none;
  &:hover{
    text-decoration:none;
  }
  &:focus{
    text-decoration: none;
  }
}
.calendar {
  display:flex;
  flex-direction: column;
  box-shadow:0 0 8px 2px grey;
  margin: 1% 1% 1% 1%;
  width:100%;

  .month {
    text-align: center;
    margin-top: 1%;
    margin-bottom: 1%;
    font-size: 1.1em;
    letter-spacing: 2px;

  }

  .calendarbody {
    background-image:url("cirrus_clouds.jpg");
    background-size:cover;
    background-repeat:no-repeat;
  }

  .week {
    display: flex;
    justify-content: center;
    margin-left: 1%;
    margin-right: 1%;
    margin-top:.5%;
    margin-bottom:.5%;

    .weekdays {
      display: flex;
      width: 16.8%;
      justify-content: center;
      color:white;
    }
  }
}
.dates{
  display:flex;
  flex-wrap:wrap;
  margin-bottom: 2%;
  margin-left: 1%;
  margin-right: 1%;

  .days{
    border:01px solid gray;
    width:13.1%;
    margin-top: .25%;
    margin-bottom: .25%;
    background-color:white;
    margin-left: .15%;
    margin-right: .15%;
    text-align:center;
  }
}














//@import "button";

$primary-red: #EF3244 ;
$secondary-blue: #54BEB3 ;
$white: #FFFFFF ;
$base-font-size: 12px;
$header-font-size: 25px;
$base-padding: 15px;
$font-fam: sans-serif;
$buttonColor: #1879ff ;

a {
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
  &:focus {
    text-decoration: none;
  }
}

.container {
  display: flex;
  flex: 1;
  flex-direction: column;
  background: #febbbb ; /* Old browsers */
  background: -moz-linear-gradient(-45deg, #febbbb 0%, #fe9090 45%, #ff5c5c 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg, #febbbb 0%,#fe9090 45%,#ff5c5c 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, #febbbb 0%,#fe9090 45%,#ff5c5c 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#febbbb ', endColorstr='#ff5c5c ',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
  width: 300px;
}

.box {
  display: flex;
  flex: 1;
  flex-direction: row;

  //a {
  //  display: none;
  //}

  &:hover {
    //background: rgba(255, 255, 255, 0.15);
    //background: rgba(0, 0, 0, 0.15);
    //background: turquoise;
    //color: white;

    .img {
      border-color: orange;
    }
    //a {
    //  display: inline-block;
    //}
  }
}

.wrapper {
  padding: 100px;
}

.img {

  //margin: 10px;
  //display: inline-block;
  //background: #fefefe ;
  //padding: 4px;
  //text-align: center;

  //color: #666;
  //border: 1px solid transparent;
  //text-decoration: none;
  border-radius: 50%;
  border: 4px solid white;
  overflow: hidden;
  width: 100px;
  height: 100px;


  img {
    //width: 100px;
    height: 100%;

  }

}

.rectangle {
  padding: 5px;
}